main{
  width:90%;
  margin:auto;
}

$colorBg: #F2F2F2;
$darkG:#365902;
$mediumG:#7EA629;
$flashyG:#9EBF26;
$lightG: #D0D991;

body{
  background-color:$colorBg;
  }

h1, h2, h3{
  color:$mediumG;
}

.carousel-caption{
  background-color: rgba(255,255,255,0.8;);
  color: #181616;
}

article .card{
  border: none;
  width: 30%;
  height: 40rem;
}

